@model List<EuroCMS.Admin.entity.cms_asp_select_hidden_values_Result>
 
<!-- BEGIN SAMPLE TABLE PORTLET-->
<p>
    <a class="btn red openModal" href="@Url.Action("Create")">Create New Hidden Value <i class="m-icon-swapright m-icon-white"></i></a>
</p>

<div class="row-fluid">
    <div class="span12">
        <div class="portlet box grey">
            <div class="portlet-title">
                <div class="caption"><i class="icon-reorder"></i>Hidden Values List</div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Hidden Value</th>
                            <th>Updated</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                            @if(Model.Count > 0)
                            {
                                int i = 1;
                                foreach (var hv in Model)
                                { 
                                    <tr>
                                        <td> @i </td>
                                        <td>[@hv.hidden_id] @hv.hidden_value </td>
                                        <td> @hv.updated <br /> created by @hv.publisher_name </td>
                                        <td> 
                                            <a href="@Url.Action("Edit", new { id= @hv.hidden_id})" class="btn icn-only black openModal"><i class="icon-pencil"></i></a>
                                            @using (Html.BeginForm("Delete", "HiddenValue", new { id = @hv.hidden_id }))
                                            { 
                                                @Html.AntiForgeryToken()
                                                <button type="submit" class="btn icn-only black"  data-message="Are you sure want to delete this item?" onclick="return deleteObject(this);"><i class="icon-trash"></i></button>
                                            }
                                        </td>
                                    </tr>
                                    i++;
                                }
                           }
                           else
                           {
                                <tr><td colspan="4">No Result Found!</td></tr>
                           }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- END SAMPLE TABLE PORTLET-->
