@model EuroCMS.Admin.entity.cms_templates
 
<script>
    window.onload = function () {
        CKEDITOR.replace('editor_html', { height: "300px" });
    };
</script>
 
<div class="row-fluid">
    @using (Html.BeginForm("Edit", "Layout", FormMethod.Post, new { @class = "form-horizontal", @id = "layoutUpdate"}))
    {
        @Html.CmsValidationSummary(string.Empty)
        @Html.AntiForgeryToken()
        <div class="control-group">
                <label class="control-label" for="template_name">Template Name:</label>
                <div class="controls">
                    <input type="text" name="template_name" id="template_name" class="m-wrap span4" value="@Model.template_name">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="structure_description">Description:</label>
                <div class="controls">
                    <textarea name="structure_description" id="structure_description" rows="3" class="m-wrap span4">@Model.structure_description</textarea>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="group_id">Group:</label>
                <div class="controls">
                      @Html.DropDownListFor(d => d.group_id, ViewBag.Groups as IEnumerable<SelectListItem>, "Not Grouped", new { @class ="span4 m-wrap"})
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="template_type">Template Type:</label>
                <div class="controls">
                    <select name="template_type" id="template_type" tabindex="1" class="span4 m-wrap">
                        <option value="0" @(Model.template_type.ToString() == "0"?"selected=selected":"")>Screen</option>
                        <option value="1" @(Model.template_type.ToString() == "1"?"selected='selected'":"")>Mobile</option>
                    </select>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="template_doctype">Template DOCTYPE:</label>
                <div class="controls">
                    <textarea name="template_doctype" id="template_doctype" rows="3" class="span4 m-wrap">@Html.Raw(Model.template_doctype)</textarea>
                </div>
            </div>
            <div class="control-group hide">
                <label class="control-label" for="content_1_editor_type">Editor Type:</label>
                <div class="controls">
                    <label class="smallWrap">
                        <input name="content_1_editor_type" value="H" checked="checked" id="content_1_editor_type1" type="radio" />
				        HTML Editor
                    </label>
			    </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="editor_html">Template:</label>
                <div class="controls">
                    <div class="span12" id="type_H">
                        <textarea name="editor_html">@Html.Raw(Model.template_html)</textarea>
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn red" title="Save Layout"><i class="icon-save"></i> Save</button>
                <button type="button" class="btn red" title="Cancel Changes" onclick="discardChanges('@Url.Action("Index")'),false;"><i class="icon-remove"></i> Cancel</button>
            </div>
    }
</div>
