
@{
    ViewBag.Title = "Index";
}

<div class="row-fluid">
    <div class="fl">
        <p><a class="btn blue" href="@Url.Action("CallMeForm","Report")">Sizi arayalım rapor</a></p>
    </div>
</div>

<div class="row-fluid">
    <div class="fl">
        <p><a class="btn yellow" href="@Url.Action("ComplaintForm","Report")">Öneri şikayet rapor</a></p>
    </div>
</div>

<div class="row-fluid">
    <div class="fl">
        <p><a class="btn green" href="@Url.Action("ContactForm","Report")">İletişim rapor</a></p>
    </div>
</div>

<div class="row-fluid">
    <div class="fl">
        <p><a class="btn gray" href="@Url.Action("HrForm","Report")">HR rapor</a></p>
    </div>
</div>

<div class="row-fluid">
    <div class="fl">
        <p><a class="btn orange" href="@Url.Action("Newsletter","Report")">Ebülten rapor</a></p>
    </div>
</div>