@model EuroCMS.Admin.ViewModels.ArticleOrderViewModel
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row-fluid">

	@using (Html.BeginForm("Index", "ArticleOrder", FormMethod.Get, new { @class = "form-horizontal", @id = "listArticles" }))
	{
		<div class="control-group">
			<div class="controls-row">
				<label class="control-label span1" for="ZoneID">Zone:</label>
				<div class="span9">
					<select class="chosen-select" data-placeholder="Select Zone" name="ZoneId" id="ZoneID" tabindex="1">
						<option></option>
						@*<option value="0">Select Zone</option>*@
						@if (Model.ZoneList != null)
						{
							for (int i = 0; i < Model.ZoneGroupIds.Count; i++)
							{
								List<EuroCMS.Model.Zone> listZoneByZoneGroup = new List<EuroCMS.Model.Zone>();
								listZoneByZoneGroup = Model.ZoneList.Where(v => v.ZoneGroupId == Model.ZoneGroupIds[i]).ToList();
								<optgroup label="@listZoneByZoneGroup.FirstOrDefault().ZoneGroup.Site.Name  - @HttpUtility.HtmlDecode(listZoneByZoneGroup.FirstOrDefault().ZoneGroup.Name)">
									@foreach (EuroCMS.Model.Zone zone in listZoneByZoneGroup)
									{
										if (zone.Id.ToString() == HttpContext.Current.Request["ZoneID"])
										{
											<option selected="selected" value="@zone.Id">@HttpUtility.HtmlDecode(zone.Name) - @zone.Id</option>
										}
										else
										{
											<option value="@zone.Id">@HttpUtility.HtmlDecode(zone.Name) - @zone.Id</option>
										}
									}
								</optgroup>
							}
						}
						else
						{
							<option>Boş</option>
						}
					</select>
				</div>
				<button class="btn span2" type="submit">Go <i class="icon-search"></i></button>
			</div>

		</div>
	}

</div>


<div class="portlet box grey">
	<div class="portlet-title">
		<div class="caption"><i class="icon-reorder"></i>Article Order</div>
	</div>
	<div class="portlet-body ">
		<div class="dd" id="nestable_list_1">
			<ol class="dd-list">
				@if (Model.result != null)
				{
					foreach (var article in Model.result)
					{
						<li class="dd-item" data-id="@article.id" id="@article.id">
							<div class="dd-handle @(article.status == 0 ? "bg-light-gray white" : "")"><span></span> - @HttpUtility.HtmlDecode(article.headline) (id: @article.id - @(article.status == 0 ? "Pasif" : "Aktif"))</div>
							<a href="#" data-id="@article.id" class="btn icn-only @(article.status == 0 ? "green" : "")" title="@(article.status == 0 ? "Change Status to Active" : "Change Status to Passive")"><i class="@(article.status == 0 ? "icon-ok" : "icon-remove")"></i></a>
						</li>}
				}

			</ol>

		</div>
		<div class="form-actions">
			@using (Html.BeginForm("Index", "ArticleOrder", FormMethod.Post, new { @class = "form-horizontal", @id = "saveArticleOrders" }))
			{
				@* <div class="control-group"></div> *@
				@Html.HiddenFor(model => model.ids)
				<button type="button" class="btn" title="Cancel Changes" onclick="discardChanges('@Url.Action("Index")'),false;"><i class="icon-remove"></i> Cancel</button>
				@Html.AntiForgeryToken()

				@Html.HiddenFor(model => model.ZoneId)
				<button type="submit" class="btn green" title="Save Splash Details"><i class="icon-save"></i> Save</button>
			}
		</div>
	</div>

</div>




<!-- END SAMPLE TABLE PORTLET-->
<script src="@Url.Content("~/Content/plugins/jquery-nestable/jquery.nestable.js")" type="text/javascript"></script>
<script>
	var UINestable = function () {

		var updateOutput = function (e) {
			var list = e.length ? e : $(e.target),
				output = list.data('output');
			if (window.JSON) {
				output.val(window.JSON.stringify(list.nestable('serialize'))); //, null, 2));
			} else {
				output.val('JSON browser support required for this demo.');
			}
			$('.dd-list .dd-item').each(function () {
				$("span", this).html($(this).index() + 1);
			});
		};

		return {
			//main function to initiate the module
			init: function () {

				// activate Nestable for list 1
				$('#nestable_list_1').nestable({
					group: 1,
					maxDepth: 1,
					autoscroll: true,
					scrollSpeed: 10, //(default 3)
					scrollDelay: 10, //(default 15)
				    scrollSensitivity: 90
				}).on('change', updateOutput);

				// output initial serialised data
				updateOutput($('#nestable_list_1').data('output', $('#ids')));
			}
		};
	}();

	jQuery(document).ready(function () {
		UINestable.init();

		$(".chosen-select").chosen({
			//width: "100%",
			allow_single_deselect: true
		});

		$("#nestable_list_1 a").each(function () {
			$(this).click(function () {
				changeArticleStatus($(this).data("id"));
				return false;
			})
		})

	});

	var changeArticleStatus = function (articleID) {
		var pageContent = $('.page-container');
		$.ajax({
			url: '/cms/articleorder/changestatus',
			type: 'POST',
			data: {
				'id': articleID,
				'zoneId': "@Model.ZoneId"
			},
			dataType: 'json',
			success: function (response) {
				if (response != false) {
					$("#" + articleID + " a i").removeClass();
					$("#" + articleID + " a").removeClass("green");
					if (response.error == false) {
						if (response.status == 0) {
							$("#" + articleID + " .dd-handle").addClass("bg-light-gray");
							$("#" + articleID + " a i").addClass("icon-ok");
							$("#" + articleID + " a").addClass("green");
						} else {
							$("#" + articleID + " .dd-handle").removeClass("bg-light-gray");
							$("#" + articleID + " a i").addClass("icon-remove");
						}
					} else {

					}
				} else {
					$("#" + articleID + " a i").removeClass("icon-cogs");
				}
			},
			error: function (request, status, error) {
			},
			beforeSend: function (response) {
				$("#" + articleID + " a").attr("disabled", true);
				App.blockUI(pageContent, false);
				$("#" + articleID + " a i").addClass("icon-cogs");
			},
			complete: function (response) {
				setTimeout(function () {
					$("#" + articleID + " a").attr("disabled", false);
					App.unblockUI(pageContent);
				}, 1000);
			}
		});
	};
</script>
