<!-- Page Footer Start -->
<section id="page-footer" class="p-0">
    <div class="d-flex flex-column flex-lg-row">
        <div class="col-12 col-lg-4 d-flex flex-column justify-content-between">
            <h2 class="font-mono">Askıda Lale Kart Var</h2>
            <div class="d-flex flex-row justify-content-end">
                <a href="/tr/askida-lalekart"
                   class="btn btn-arrow d-flex flex-row justify-content-center align-items-center right mt-3">
                    <img src="@Url.Content("~/assets/img/icon-select-arrow.png")" alt="">
                </a>
            </div>
        </div>
        <div class="col-12 col-lg-4 d-flex flex-column justify-content-between">
            <h2 class="font-mono">Teşekkür</h2>
            <div class="d-flex flex-row justify-content-end">
                <a href="/tr/tesekkur"
                   class="btn btn-arrow d-flex flex-row justify-content-center align-items-center right purple mt-3">
                    <img src="@Url.Content("~/assets/img/icon-select-arrow.png")" alt="">
                </a>
            </div>
        </div>
        <div class="col-12 col-lg-4 d-flex flex-column justify-content-between">
            <h2 class="font-mono">Sıkça Sorulan Sorular</h2>
            <div class="d-flex flex-row justify-content-end">
                <a href="/tr/sss"
                   class="btn btn-arrow d-flex flex-row justify-content-center align-items-center right blue mt-3">
                    <img src="@Url.Content("~/assets/img/icon-select-arrow.png")" alt="">
                </a>
            </div>
        </div>
    </div>
</section>
<!-- Page Footer End -->
<!-- Footer Start -->
<footer id="footer">
    <div class="d-flex flex-column">
        <div class="d-flex flex-row justify-content-between">
            <a href="/" class="footer-logo">
                <img src="@Url.Content("~/assets/img/logo-black.png")" alt="">
            </a>
            <ul class="nav d-none d-lg-flex">
                <li class="nav-item"><a href="/tr/sss" class="nav-link text-black">SSS</a></li>
                <li class="nav-item">
                    <a href="/tr/askida-lalekart" class="nav-link text-black">
                        ASKIDA LALE KART
                        VAR
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/tr/indirimli-mekanlar" class="nav-link text-black">
                        İNDİRİMLİ
                        MEKANLAR
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/tr/lale-kart-uyelik" class="nav-link text-black">LALE KART ÜYELİK</a>
                </li>
                <li class="nav-item"><a href="/tr/bize-ulasin" class="nav-link text-black">BİZE ULAŞIN</a></li>
            </ul>
            <ul class="social d-none d-lg-flex flex-row">
                <li>
                    <a href="https://www.facebook.com/istanbulkultursanatvakfi/" class="d-flex flex-row justify-content-center align-items-center">
                        <img src="@Url.Content("~/assets/img/social-fb.png")" alt="">
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/iksv_istanbul" class="d-flex flex-row justify-content-center align-items-center">
                        <img src="@Url.Content("~/assets/img/social-tw.png")" alt="">
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/iksv_istanbul/" class="d-flex flex-row justify-content-center align-items-center">
                        <img src="@Url.Content("~/assets/img/social-in.png")" alt="">
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/user/iksvistanbul" class="d-flex flex-row justify-content-center align-items-center">
                        <img src="@Url.Content("~/assets/img/social-yt.png")" alt="">
                    </a>
                </li>
            </ul>
            <a id="footer-menu-button" class="d-flex d-lg-none" data-toggle="collapse" href="#footer-mobile-menu"
               role="button" aria-expanded="false" aria-controls="footer-mobile-menu">
                <span></span>
                <span></span>
                <span></span>
            </a>
            <div id="footer-mobile-menu" class="collapse">
                <div class="d-flex flex-column align-items-center">
                    <ul class="nav d-flex flex-column justify-content-center text-center">
                        <li class="nav-item"><a href="/sss.html" class="nav-link text-black">SSS</a></li>
                        <li class="nav-item">
                            <a href="/tr/askida-lale-kart" class="nav-link text-black">
                                ASKIDA
                                LALE KART VAR
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/tr/indirimli-mekanlar" class="nav-link text-black">
                                İNDİRİMLİ
                                MEKANLAR
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/tr/lale-kart-uyelik" class="nav-link text-black">
                                LALE KART
                                ÜYELİK
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/tr/bize-ulasin" class="nav-link text-black">BİZE ULAŞIN</a>
                        </li>
                    </ul>
                    <ul class="social d-flex flex-row">
                        <li>
                            <a href="https://www.facebook.com/istanbulkultursanatvakfi/"
                               class="d-flex flex-row justify-content-center align-items-center">
                                <img src="@Url.Content("~/assets/img/social-fb.png")" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/iksv_istanbul"
                               class="d-flex flex-row justify-content-center align-items-center">
                                <img src="@Url.Content("~/assets/img/social-tw.png")" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/iksv_istanbul/"
                               class="d-flex flex-row justify-content-center align-items-center">
                                <img src="@Url.Content("~/assets/img/social-in.png")" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/user/iksvistanbul"
                               class="d-flex flex-row justify-content-center align-items-center">
                                <img src="@Url.Content("~/assets/img/social-yt.png")" alt="">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="copyright d-none d-lg-flex flex-row justify-content-between">
            <div>
                İstanbul Kültür Sanat Vakfı 2020 / <a class="font-medium" href="https://www.iksv.org/">İKSV</a> Tüm
                hakları Saklıdır.
            </div>
            <a href="javascript:void(0);">Kişisel Verilerinize İlişkin Aydınlatma Belgesi</a>
        </div>
    </div>
</footer>
<!-- Footer End -->